<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.happyreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ReadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ly.activity.LeadActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ly.activity.ContentActivity" />
        <activity android:name="com.ly.activity.RingActivity" />
        <activity android:name="com.ly.activity.MyLikeActivity" />
        <activity android:name="com.ly.activity.MySendActivity" />
        <activity android:name="com.ly.activity.StoryCommitActivity" />
        <activity android:name="com.ly.activity.StoryDetailActivity" />
        <activity android:name="com.ly.activity.LoginActivity" />
        <activity android:name="com.ly.activity.RegistActivity" />
        <activity android:name="com.ly.activity.BaseActivity"></activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".Read"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>